@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color:#edede9;
  font-family: "Poppins", sans-serif;

}

.container {
  width: 100%;
  background-color: #d5bdaf;
  border-radius: 1rem;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin: 1rem 0;
}

table {
  margin-top: 8%;
}

#ascDescBtn {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem auto;
}

#asc,
#desc {
  background-color: #457B9D;
}


button {
  cursor: pointer;
  padding: 0.7em 1em;
  background-color: #457B9D;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  border: none;
}

#inputVal {
  margin: 0 1em;
  height: 2em;
  border: 2px solid black;
  padding: 0 0.6em;
  width: 20em;
  border-radius: 5px;
}

#inputVal::placeholder {
  color: rgb(187, 176, 176);
}

h1 {
  font-size: 2rem;
  margin: 10%;
  text-align: center;
}

th {
  height: 2em;
  text-align: center;
  width: 13em;
  font-size: 1.1rem;
  font-weight: 800;
  background-color: #d5bdaf;
  color: white;
  background-color: #457B9D;
  border-radius: 5px;
 
}

td {
  height: 2.5em;
  text-align: center;
  width: 13em;
  font-weight: 700;
  background-color: #d5bdaf;
}

.linethrough {
  text-decoration: line-through;
  color: #E63946;
}
